<div class ="main">
<img class ="loginImg" src = "assets/LoginImage.jpg" alt="Login Page Image">
<form>
<div class ="loginBox" >
    <h2 style= "font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;" class="header">
        Login Here
    </h2>
    <div class = "login">
    
    <input type="text" name='nm' placeholder="Enter UserID">
</div>  
<div class = "login">
    
    <input type="password" name='psw' placeholder="Enter Password">
</div>
<div>
    <button class="btn" type="submit" >Login</button>
</div>
<br>
<div>
    <a routerLink='/forgotPasswordLink'>Forgot Password ?  </a> <span>|</span>  
    <span><a href=#>  New User ?</a></span>

</div>
</div>
</form>
<div class ="bottom">
    <p>Let's together make your dream a reality....</p>
</div>
</div>

