<div class="sidebar">
    <a routerLink='/updateDetails'>Update Details</a>
    <a href="#">Manage Users</a>
    <a href="#">Find a User</a>
    <a routerLink='/viewAllUser'>View All Users</a>
    <a href="#">View All Loan Details</a>
    <a routerLink='/viewAllApplications'>View All Applications</a>
    <a href="#">Update Loan Status</a>
    <a href="#">Download Documents</a>
</div>
<div class="content">
<br/>
    <form ngNativeValidate class="form">
        <br />
        <h2 class="name"> Admin ID</h2>
        <input class="adminid" type="text" name="adminid" [(ngModel)]=updateAdmin.adminId value={{id}} readonly><br>
        <div id="name">
            <h2 class="name">
                Name </h2>
            <input class="firstname" type="text" name="first_name" placeholder="Enter first name"
                [(ngModel)]=updateAdmin.adminFirstName value={{adminFirstName}} readonly>
            <input class="lastname" type="text" name="last_name" placeholder="Enter last name"
                [(ngModel)]=updateAdmin.adminLastName value={{adminLastName}} readonly>
        </div>
        <h2 class="name">
            Email </h2>
        <input class="company" type="email" name="eml" placeholder="Enter email" [(ngModel)]=updateAdmin.adminEmail
            value={{email}} readonly><br>
        <h2 class="name">
            Date of Birth</h2>
        <input class="dob" type="date" name="dob" [(ngModel)]=updateAdmin.dateOfBirth value={{dob}} readonly><br>
        <h2 class="name">
            Gender</h2>
        <input class="company1" type="text" name="gender" placeholder="Male" [(ngModel)]=updateAdmin.adminGender
            value={{gender}} readonly><br>
        <h2 class="name">
            Contact</h2>
        <input class="number" type="tel" name="phone" id="phone" placeholder="xxx-xxx-xxxx"
            (keypress)='isNumber($event,"phone",10)' minlength="10" maxlength="10"
            [(ngModel)]="updateAdmin.adminContact" value={{contact}} readonly>
        <br>


        <br>
    </form>
</div>