<div class="sidebar">
    <a routerLink='/updateDetails'>Update Details</a>
    <a href="#">Manage Users</a>
    <a href="#">Find a User</a>
    <a routerLink='/viewAllUser'>View All Users</a>
    <a href="#">View All Loan Details</a>
    <a href="#">View All Applications</a>
    <a href="#">Update Loan Status</a>
    <a href="#">Download Documents</a>
</div>
<div class="content" >
    <form ngNativeValidate>

        <table class="tab" >
            <tr>
                <td><h3>Admin Id :</h3></td>
                <td ><input type="text" class="len"   value={{adId}}
                    readonly></td>
            </tr>
            <tr>
                <td><h3>First Name :</h3></td>
                <td ><input type="text" class="len" name="first_name"  value={{updateAdmin.adminFirstName}} readonly>
                </td>
            </tr>
            <tr>
                <td><h3>Last Name :</h3></td>
                <td ><input type="text"  class="len" name="last_name"  value={{updateAdmin.adminLastName}} readonly>
                </td>
            </tr>
            <tr>
                <td><h3>Email :</h3></td>
                <td ><input type="email" class="len" name="eml" value={{updateAdmin.adminEmail}}  readonly>
                </td>
            </tr>
            <tr>
                <td><h3>Contact :</h3></td>
                <td ><input type="tel" name="contact" class="len" placeholder="Enter Contact number" value={{updateAdmin.adminContact}}
                         (keypress)='isNumber($event,"phone",10)' minlength="10"
                        maxlength="10" readonly>
                </td>
            </tr>
            <tr>
                <td><h3>Date Of Birth : </h3></td>
                <td ><input type="date" class="len" name="dob" value={{updateAdmin.dateOfBirth}}>
                </td>
            </tr>
            <tr>
                <td><h3>Gender : </h3></td>
                <td ><input type="text" class="len" name="gender" value={{updateAdmin.adminGender}}  readonly>
                </td>
            </tr>
        </table>
        
    </form>

</div>