<div class="sidebar">
    <a routerLink='/updateDetails'>Update Details</a>
    <a href="#">Manage Users</a>
    <a href="#">Find a User</a>
    <a routerLink='/viewAllUser'>View All Users</a>
    <a href="#">View All Loan Details</a>
    <a routerLink='/viewUserById'>View User by Id</a>
    <a href="#">Update Loan Status</a>
    <a href="#">Download Documents</a>
</div>
<div class="content">
    <table style="object-position: center;">
        <tr>
            <th>Customer Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>City</th>
            <th>Mobile Number</th>
            <th>Employment Type</th>
        </tr>
        <tr>
            <ng-container *ngFor="let c of data.customer">
            <td>{{c.customerId}}</td>
            <td>{{c.customerFirstName}}</td>
            <td>{{c.customerLastName}}</td>
            <td>{{c.customerEmail}}</td>
            <td>{{c.customerdateOfBirth}}</td>
            <td>{{c.customerCity}}</td>
            <td>{{c.customerMobileNumber}}</td>
            <td>{{c.customerEmploymentType}}</td>
        </ng-container>
        </tr>
    </table>
</div>