<div class="sidebar">
    <a routerLink='/updateDetails'>Update Details</a>
    <a href="#">Manage Users</a>
    <a href="#">Find a User</a>
    <a routerLink='/viewAllUser'>View All Users</a>
    <a href="#">View All Loan Details</a>
    <a routerLink='/viewUserById'>View All Applications</a>
    <a href="#">Update Loan Status</a>
    <a href="#">Download Documents</a>
</div>
<div class="content">
    <h1 style="text-align: center;">All Customers</h1>
    <!-- <div class="faq-container" *ngFor="let c of allCustomers">
        <dl class="faq" >
            <dt>
                <button aria-expanded="false" aria-controls="faq1_desc">{{c.customerId}}
                </button>
            </dt>
            <dd>
                <p id="faq1_desc" class="desc">
                   Hello
                    
                </p>
            </dd>
        </dl>
    </div> -->
    <table *ngFor="let c of allCustomers">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Date Of Birth</th>
            <th>City</th>
            <th>Contact</th>
            <th>Employment Type</th>
        </tr>
        <tr>
            <td>{{c.customerFirstName }}</td>
            <td>{{c.customerLastName }}</td>
            <td>{{c.customerEmail}}</td>
            <td>{{c.customerdateOfBirth }}</td>
            <td>{{c.customerCity}}</td>
            <td>{{c.customerMobileNumber}}</td>
            <td>{{c.customerEmploymentType}}</td>
        </tr>

    </table>
</div>