<div class = "background">
<div class ="main">
    <form >
   
    <div class="admin">
        <h3 style="color:#ac3831;text-align: center;font-size: 30px;" >Welcome  Admin</h3>
        
        <input type="text" placeholder="Enter UserId" id="uid" name="uid" [(ngModel)]=login.adminId>
        <br>
        <input type="password" placeholder="Enter Password" id="psw" name="psw" [(ngModel)]=login.password>
        <br>
        <div>
            <button class="btn" type="submit" >Login</button>
        </div>
        <br>
         <div>
            <a style="color:#ac3831 ;" href=#>Forgot Password ? </a>
           <h2>{{message}}</h2> 
        </div> 
    </div>
</form>

</div>
</div>