<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="aboutus.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>About Us</title>
</head>
<body>
    <!--top nav -->
    <div class="container">
        <img src="hero1.jpg" style=" width: 1350px;height:350px;">
        <div class="content">
            <h1>BIG DREAMS</h1>
           <h3>BUY YOUR DREAM HOME <br>WITH A DREAM LOAN</h3>
        </div>       
    </div>

    <!--Address-->
    <section>
        <div class="second">
       <div class="image image1">
           <img src="office.jpg">
       </div> 
       <div class="image image2">
           <img src="office1.jpg">
       </div>
       <div>
           
           <h4><center>WHY CHOOSE US?</center><br>Your own home brings feelings like no other. 
               The joy of belonging, beginning your own story, and 
               building memories in a place that you can call your 'own' is special. We, at LTI Bank Home Loans, are committed to
                providing the most convenient home loan at the most attractive interest rate. We ensure utmost convenience in your home buying experience.
                 We provide tailor-made home loan solutions to the customers to help them realize the dream of owning a home. Come; celebrate the joy of belonging to your OWN home.
        </h4>
                <div class="team">
                
            </div>
       </div>
    </div>
   

    <!---Meet the team-->
    
    <div class="row">
        
        <div class="col">
           
            <span></span>
            
            <img src="user.jpg">
        </div>
        <div class="col">
            <h3 style="color: white">Member 01</h3>
            <p style="color: white">Member 01</p>
            <div class="social-link">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>

            </div>
        </div>
        <div class="col">
            <span></span>
            <img src="user1.jpg">
        </div>
        <div class="col">
            <h3 style="color: white">Member 02</h3>
            <p style="color: white">Member 02</p>
            <div class="social-link">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>

            </div>
        </div>

       
        <div class="col">

            <h3 style="color: white">Member 03</h3>
            <p style="color: white">Member 03</p>
            <div class="social-link">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>

            </div>
        </div>

        <div class="col">
            <span class="arrow"></span>
            <img src="user1.jpg">
        </div>
        <div class="col">
            <h3 style="color: white">Member 04</h3>
            <p style="color: white">Member 04</p>
            <div class="social-link">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-linkedin"></i>

            </div>
        </div>
        <div class="col">
            <span class="arrow"></span>
            <img src="user.jpg">
        </div>
    </div>
    <div class="team">
        <h1>MEET THE TEAM</h1>
    </div>


<!--Our Services-->
   


<div class="container1">
    <div class="box">
        <div class="icon">01</div>
            <div class="content">
                <h3>Competitive Rates</h3>
                <p>We offer the most competitively low 
                    rates that are available to you.
                </p>
                     <a href="#">Read More</a>
            </div>
        
    </div>
    <div class="box">
        <div class="icon">02</div>
            <div class="content">
                <h3>Simple Process</h3>
                <p> We've made our process as 
                    streamlined as possible
                </p>
                     <a href="#">Read More</a>
            </div>
        
    </div>
    <div class="box">
        <div class="icon">03</div>
            <div class="content">
                <h3>Fast Service</h3>
                <p>Close your purchase loan or refi 
                    in as few as 15 business days!
                </p>
                     <a href="#">Read More</a>
            </div>
        
    </div>
</div>
</section>
</body>

</html>
