<div class = "main">
        <h1 style="color: teal;text-align: center; font-weight: bold;">Loan Application form</h1>
    <div class="container">
        <form class="reg-form">
            <fieldset>
                
                <legend>
                    <div class="heading">
                        Basic Info
                    </div>
                </legend>
               
                <fieldset>
                    <legend>
                        <div class="field-name">Customer Id</div>
                    </legend>
                    <input type="number" placeholder="Customer Id">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Gender</div>
                    </legend>
                    <select class="gender-options"  [(ngModel)]="application.gender" required>
                        <option selected disabled hidden>--Choose An Option--</option>
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Address</div>
                    </legend>
                    <input type="text" placeholder="Enter Address" [(ngModel)]="application.address" required>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Nationality</div>
                    </legend>
                    <input type="text" placeholder="Enter nationality"  [(ngModel)]="application.nationality" required>
                </fieldset>
            </fieldset>
        </form>
    </div>
    <div class="container1">
        <form class="reg-form" (ngSubmit)="applyLoan()" ngNativeValidate>

        <fieldset>
                <legend>
                    <div class="heading">
                        Loan Eligibility
                    </div>
                </legend>
                <fieldset>
                    <legend>
                        <div class="field-name">Retirement Age</div>
                    </legend>
                    <input type="number" placeholder="Enter retirement age"  [(ngModel)]="application.retirementAge" required>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Monthly Income</div>
                    </legend>
                    <input type="number" placeholder="Enter monthly income" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Loan Amount</div>
                    </legend>
                    <input type="number" placeholder="Enter loan amount" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Tenure</div>
                    </legend>
                    <input type="number" placeholder="Enter tenure" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Down Payment</div>
                    </legend>
                    <input type="number" placeholder="Enter Down Payment" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Number of Dependents</div>
                    </legend>
                    <input type="number" placeholder="Number of dependents" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Expenses of Dependents</div>
                    </legend>
                    <input type="number" placeholder="Enter Dependents expenses" [(ngModel)]="application.retirementAge">
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Maximum Loan Amount</div>
                    </legend>
                    <input type="number" placeholder="Enter Loan Amount">
                </fieldset>
               
            </fieldset>
        </form>
        </div>

        <div class="container2">
            <form class="reg-form">

            <fieldset>
                <legend>
                    <div class="heading">
                        Documents
                    </div>
                </legend>
                <fieldset>
                    <legend>
                        <div class="field-name">Aadhar Card</div>
                    </legend>
                    <input type="number" placeholder="Enter Aadhar Number"id="userAadhar"
                    (keypress)='isNumber($event,"userAadhar",13)' (keyup)='manageAadharCard()' value="" minlength="14"
                    [(ngModel)]="application.aadharNumber" required>
                <span class=" error">Oops!! Invalid Aadhar Number</span>>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Pan Card</div>
                    </legend>
                    <input type="number" placeholder="Enter PAN number" [(ngModel)]="application.aadharNumber" required>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Property Type</div>
                    </legend>
                    <select class="gender-options" [(ngModel)]="application.propertyType">
                        <option selected disabled hidden>--Choose An Option--</option>
                        <option>Land purchase</option>
                        <option>Home purchase</option>
                        <option>Construction purchase</option>
                        <option>Home Improvement</option>
                    </select>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Property Location</div>
                    </legend>
                    <input type="text" placeholder="Enter property location" [(ngModel)]="application.propertyLocation" required>
                </fieldset>
                <fieldset>
                    <legend>
                        <div class="field-name">Property Cost</div>
                    </legend>
                    <input type="number" placeholder="Enter property cost" [(ngModel)]="application.retirementAge" required>
                </fieldset>
                <!-- <fieldset>
                    <legend>
                        <div class="field-name">Organization Type</div>
                    </legend>
                    <input type="text" placeholder="Enter Loan Amount" [(ngModel)]="application.retirementAge" required>
                </fieldset>-->
                <fieldset>
                    <legend>
                        <div class="field-name">Organization Name</div>
                    </legend>
                    <input type="text" placeholder="Enter organisation details" [(ngModel)]="application.organisation" required>
                </fieldset>
               
                <button type="submit">Submit</button>
            </fieldset>
        
        
        </form>
        </div>
    
</div>
